<div id="popup-container" *ngIf="this.dataService.showAddForm">
    <div class="popup">
        <div class="title">
            <span id="popup-title">Thêm mới bộ phận</span>
        </div>

        <div class="body-container">
            <div class="popup-body">
                <div class="input-container">
                    <div class="input-box-left">
                        <span>Mã</span>
                        <input class="id-box" type="text" name="id" #ma>
                        <div class="checkbox">
                            <div class="custom-radio">
                                <input id="radio" type="radio" value="chinhanh" name="checkform" class="radioLeft">
                            </div>
                            <span for="chinhanh">Chi nhánh</span>
                        </div>
                    </div>
                    
                    <div class="input-box-right">
                        <span>Tên</span>
                        <input class="name-box" type="text" name="name" #ten>
                        <div class="checkbox">
                            <div class="custom-radio">
                                <input id="radio" type="radio" name="checkform" value="bophan" checked="checked" class="radioRight">
                            </div>
                            <span for="bophan">Bộ phận</span>
                        </div>
                    </div>
                </div>
    
                <div class="button-container">
                    <span>Thuộc chi nhánh / Bộ phận cha</span>
    
                    <select id="dropdown-menu">
                        <option hidden="">Chi nhánh / bộ phận cha</option>
                        <option value="ChiNhanh">Chi nhánh</option>
                        <option value="BoPhanCha">Bộ phận cha</option>
                    </select>
                </div>
    
                <div class="descript">
                    <span>Mô tả chức năng - nhiệm vụ</span>
                    <textarea name="desc" rows="2" placeholder="Mô tả chung..." #mota></textarea>
                </div>
    
                <div class="note">
                    <span>Ghi chú</span>
                    <textarea name="note" #note></textarea>
                </div>
    
                <div class="stt">
                    <span>Số thứ tự</span>
                    <input type="number" name="sothutu" id="stt" min="1" value="1" #serial>
                </div>
            </div>
        </div>

        <div class="footer-container">
            <div class="footer">
                <button class="btn-cancel" (click)="this.dataService.showAddForm = false"><i class="bi bi-x-circle"></i> Đóng</button>
                <button class="btn-save" (click)="save(ma.value = 'Mã', ten.value = 'Tên', mota.value = 'Mô tả', note.value = 'Ghi chú', serial.value = 'Số thứ tự')"><i class="bi bi-file-earmark-check"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>
<div id="popup-container" *ngIf="this.dataService.showRemoveConfirm">
    <div id="removeConfirm" class="popup">
        <span id="label">Xác nhận xóa?</span>
        <div id="actionGroup">
            <button id="confirm" (click)="remove()">Xác nhận</button>
            <button id="cancel" (click)="this.dataService.showRemoveConfirm = false">Hủy</button>
        </div>
    </div>
</div>