<div id="header-parent">
    <div id="header-left">
        <i class="bi bi-gear-fill"></i>
        <h6 id="logo-name">QUẢN TRỊ</h6>
    </div>

    <div id="header-right">
        <div id="menu-left">
            <i class="bi bi-list"></i>
            <i class="bi bi-chevron-double-right"></i>
            <h6 id="header-link">THIẾT LẬP HỆ THỐNG</h6>
        </div>
        <div id="menu-right">
            <i class="bi bi-grid-3x3-gap"></i>
            <i class="bi bi-newspaper"></i>
            <i class="bi bi-box-arrow-in-right"></i>
        </div>
    </div>
</div>