* {
    margin: 0;
    padding: 0;
}

#middle-parent {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    column-gap: 25px;
}

#middle-right-btn {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.middle-right {
    width: 100%;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    align-content: flex-end;
    align-items: stretch;
    row-gap: 12px;
}

button.btn {
    width: fit-content;
    height: 30px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}


.btn-toolbar {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    column-gap: 5px;
}

.middle-right-bottom {
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 12px 12px;
}

#middle-left {
    width: 28%;
    padding-top: 17px;
}

#title {
    margin: 0;
    color: darkmagenta;
    font-size: 13px;
}

#group {
    padding: 10px 20px;
    background-color: white;
    font-size: 13px;
}

#content {
    margin: 3px 0;
    font-size: 13px;
}

.btn-group {
    display: flex;
    align-items: center;
    column-gap: 2px;
}

.expand, .child {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: auto 90px 300px 82px;
    background-color: #E5E5F1;
    margin-bottom: 5px;
    height: 30px;
    font-size: 14px;
}

.col {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}


.list {
    margin-left: 20px;
    display: none;
}

#checker {
    opacity: 0;
    width: 25%;
    height: 10%;
    margin-top: -35px;
    position: absolute;
    cursor: pointer;
}

#checker:checked ~ .list {
    display: list-item;
}

ul, li {
    list-style: none;
    margin-bottom: 7px;
}

#col {
    text-align: right;
}

#left-expand {
    display: grid; 
    grid-template-columns: auto 20px;
    width: 100%; 
    height: fit-content;
    margin-bottom: 5px;
    background-color: inherit;
}

#left-expand#checker {
    width: 21%;
    height: 30px;
    margin: -30px 0 0 -5px;
}

#left-list {
    margin: 0;
}

.left-child {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}

button {
    border: none;
}

.col button {
    background-color: #0000;
}

#add, #edit, #remove {
    font-size: 15px;
    padding: 2px;
}

#add {
    color: blue;
}

#edit {
    color: #FBC211;
}

#remove {
    color: red;
}

.bi-caret-down {
    margin-right: 5px;
}

.child:hover, .expand:hover {
    background-color: #D1D3EC;
}