<div id="middle-parent">
    <div id="middle-left">
        <div *ngFor="let item of leftdata">
            <input type="checkbox" name="checker" checked="checked" id="checker" style="width: 21%; height: 25px;">
            <div id="left-expand" class="expand">
                <h6 id="title" style="color: darkmagenta; text-align: left;">{{ item.title }}</h6>
                <i class="bi bi-chevron-down" style="float: right;"></i>
            </div>
            <div id="left-list" class="list">
                <div class="left-child">
                    <div *ngFor="let itemChild of item.child" >
                        <span id="content" [innerHtml]="itemChild.ic" [style.color]="itemChild.color" [style.margin-right.px]="5"></span>
                        <span id="content">{{ itemChild.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="middle-right">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar witspan button groups">
            <div class="btn-group mr-1" role="group" aria-label="First group">
                <button type="button" class="btn btn-light">
                    <i class="bi bi-arrow-repeat" style="color: blue;"></i>
                    <span class="btn-content refresh">Refresh</span>
                </button>
                <button type="button" id="button" class="btn btn-light" (click)="this.dataService.showAddForm = true; this.dataService.addRoot = true; this.dataService.temp = this.dataService.parent">
                    <i class="bi bi-plus" style="color: green;"></i>
                    <span class="btn-content add">Thêm mới</span>
                </button>
            </div>

            <div class="btn-group mr-1" role="group" aria-label="Second group">
                <button type="button" class="btn btn-light">
                    <i class="bi bi-file-earmark-excel" style="color: green;"></i>
                    <span class="btn-content extract">Xuất file excel</span>
                </button>
                <button type="button" class="btn btn-light">
                    <i class="bi bi-cloud-arrow-down-fill"></i>
                    <span class="btn-content download">Tải file mẫu</span>
                </button>
                <button type="button" class="btn btn-light">
                    <i class="bi bi-upload" style="color: red;"></i>
                    <span class="btn-content import">Import</span>
                </button>
            </div>
        </div>
        
        <div class="middle-right-bottom">
            <app-tree-view></app-tree-view>
        </div>
    </div>
</div>